html,
body,
#root {
  min-height: 100vh;
  height: auto;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  min-height: 100vh;
  height: auto;
}

nav {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 8vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  & a {
    color: white;
    font-size: 1. Sem;
    padding: 15px;
  }
}

main {
  margin-top: 40px;
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

footer {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: rgb(24, 24, 24);
  margin-top: 48px;
}

#erro404 {
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  gap: 48px;
}

#erro404>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu a {
  font-size: 1.2em;
}