html,
body,
#root {
  height: 100%
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

nav {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 8vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  & a {
    color: white;
    font-size: 1. Sem;
    padding: 15px;
  }
}

main {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

footer {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: rgb(24, 24, 24);
}

#lista-produtos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 80px;
}

#produto>img {
  width: 300px;
}